<!DOCTYPE html>

<head>
    <title>Registration page</title>
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/components.css') }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">
</head>

<body>
    <!-- <div class="loader"></div> -->

    <div class="centering-vertical full-page">
        <h1 class="title">Sign up</h1>

        <div class="register-form">
            <div class="fields-grid">
                <div class="field-group">
                    <label for="name">Name:</label>
                    <input class="input yellow" type="text" id="name" name="name" placeholder="Enter Name" required>

                    <label for="surname">Surname:</label>
                    <input class="input yellow" type="text" id="surname" name="surname" placeholder="Enter Surname"
                        required>

                    <label for="region">Region:</label>
                    <select class="input yellow" id="region" name="region" required>
                        <option value="" disabled selected>Select your region</option>

                        <option value="Vinnytsia Oblast">Vinnytsia</option>
                        <option value="Volyn Oblast">Volyn</option>
                        <option value="Dnipropetrovsk Oblast">Dnipropetrovsk</option>
                        <option value="Donetsk Oblast">Donetsk</option>
                        <option value="Zhytomyr Oblast">Zhytomyr</option>
                        <option value="Zakarpattia Oblast">Zakarpattia</option>
                        <option value="Zaporizhzhia Oblast">Zaporizhzhia</option>
                        <option value="Ivano-Frankivsk Oblast">Ivano-Frankivsk</option>
                        <option value="Kyiv Oblast">Kyiv</option>
                        <option value="Kirovohrad Oblast">Kirovohrad</option>
                        <option value="Luhansk Oblast">Luhansk</option>
                        <option value="Lviv Oblast">Lviv</option>
                        <option value="Mykolaiv Oblast">Mykolaiv</option>
                        <option value="Odesa Oblast">Odesa</option>
                        <option value="Poltava Oblast">Poltava</option>
                        <option value="Rivne Oblast">Rivne</option>
                        <option value="Sumy Oblast">Sumy</option>
                        <option value="Ternopil Oblast">Ternopil</option>
                        <option value="Kharkiv Oblast">Kharkiv</option>
                        <option value="Kherson Oblast">Kherson</option>
                        <option value="Khmelnytskyi Oblast">Khmelnytskyi</option>
                        <option value="Cherkasy Oblast">Cherkasy</option>
                        <option value="Chernihiv Oblast">Chernihiv</option>
                        <option value="Chernivtsi Oblast">Chernivtsi</option>
                        <option value="Crimea">Autonomous Republic of Crimea</option>
                    </select>
                </div>

                <div class="field-group">
                    <label for="gmail">Gmail:</label>
                    <input class="input yellow" type="text" id="gmail" name="gmail" placeholder="Enter Gmail" required>

                    <label for="password">Password:</label>
                    <input class="input yellow" type="password" id="password" name="password"
                        placeholder="Enter your password" required>

                    <label for="repeat-password">Repeat password:</label>
                    <input class="input yellow" type="password" id="repeat-password" name="repeat_password"
                        placeholder="Repeat your password" required>
                </div>
            </div>

            <button class="long-button yellow" type="button" id="submit_sign_up">Submit</button>

            <a class="link" href="/diploma/fertilizer_recommendation/login">I already have an account</a>

            <img class="img-right" src="{{ url_for('static', filename='images/agrosem_logo.png') }}" alt="Logo">
            <img class="img-left" src="{{ url_for('static', filename='images/sunflowers.png') }}" alt="Logo">

        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/register_page.js') }}"></script>
</body>

</html>