<!DOCTYPE html>

<head>
    <title>Your fields</title>
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/components.css') }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/039d331876.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="centering-corners">
        <h1 class="smaller-title">
            Your fields
        </h1>
        <div class="centering-horizontal">
            <button type="button" class="icon" id="add_field_button">
                <i class="fa-solid fa-circle-plus">
                </i>
            </button>
            <div class="fields-list" id="fields_list">

                {% set farms = fields | groupby('farm_name') %}
                {% for farm_name, farm_fields in farms %}
                <div class="farm-group">
                    <div class="farm-title">
                        {{ farm_name }}
                    </div>
                    {% for field in farm_fields %}
                    <button class="button yellow field-card one-field-button" data-field-name="{{ field.field_name }}">
                        <span class="field-card-name">{{ field.field_name }}</span>
                    </button>
                    {% endfor %}

                </div>
                {% else %}
                <p class="field-label">No fields added yet.</p>
                {% endfor %}
            </div>
        </div>

        <div class="bottom-button-left">
            <a href="/diploma/fertilizer_recommendation/user_page" class="icon">
                <i class="fa-solid fa-circle-user">
                </i>
            </a>
        </div>

    </div>
    <script src="{{ url_for('static', filename='scripts/your_fields.js') }}"></script>
</body>

</html>